.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}

.svg {
  position: absolute;
  top: 0;
  left: 44px;
  width: 90px;
  height: 100%;
  overflow: visible;
}

@media (max-width: 640px) {
  .svg { display: none; }
}
